.column
{
    float: left;
    width: 50%;
}
img
{
    display: block;
    border: 4px solid rgb(63, 30, 56);
    border-radius:  10px 10px 50px 50px;
    max-height: 200px;
    max-width: 200px;
    margin: 20px auto 0px auto;
}
h2
{
    margin: 10px auto;
    border: 4px solid rgb(63, 30, 56);
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 400px;    

    text-align: center;
    font-family: 'Spicy Rice', cursive;
    font-weight: 500;
    font-size: 64px;
    color: rgb(194, 204, 50);
}
p
{
    text-align: center;
    margin: 10px auto;
    width: 500px;   
}