#card0 {
  position: absolute;
  display: none;
  font-family: fantasy;

  height: 50%;
  width: 26%;

  bottom: 14%;
  left:0%;
  
  margin: 2.5%;

  background-color: rgb(142, 146, 99);
  box-shadow: 0 4px 8px 0 rgba( 0,0,0,0.4);

  transform: rotateX(20deg) scale(1);
  transition: 0.4s all ease;

  margin-left: 6%;
  margin-top: 260px;
}
#card1{
  position: absolute;
  display: none;


  font-family: fantasy;
  
  height: 50%;
  width: 26%;

  bottom: 14%;
  left: 31%;
  
  margin: 2.5%;

  background-color: rgb(142, 146, 99);
  box-shadow: 0 4px 8px 0 rgba( 0,0,0,0.4);

  transform: rotateX(20deg) scale(1);
  transition: 0.4s all ease;

  margin-left: 6%;

}
#card2{
  position: absolute;
  display: none;
  font-family: fantasy;

  height: 50%;
  width: 26%;

  bottom: 14%;
  left: 62%;
  
  margin: 2.5%;

  background-color: rgb(142, 146, 99);
  box-shadow: 0 4px 8px 0 rgba( 0,0,0,0.4);

  transform: rotateX(20deg) scale(1);
  transition: 0.4s all ease;

  margin-left: 6%;
  margin-top:243px;
}
.card:hover {
  box-shadow: 0 28px 36px 0 rgba(91, 49, 102, 0.9);
  cursor: pointer;
  transform: rotate(0deg) scale(1.4) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}
#container {
  display: block;
  margin: 0px auto 20px auto;
  width: 90%;
  height: 200px;
 }
/* Deck */
#deckContainer
{
  position: absolute;
  bottom: 14%;
  left:30%;
}
#deck0 {
  position: absolute;
  height: 250px;
  width: 240px;
  background-color:rgb(142, 146, 99);
  box-shadow: 0 4px 8px 0 rgba( 0,0,0,0.4);
  z-index: 3;
  margin-top: 15px;
  right: 10px;
  }
#deck1 {
  position: absolute;
  height: 250px;
  width: 240px;
  background-color:rgb(142, 146, 99);
  box-shadow: 0 4px 8px 0 rgba( 0,0,0,0.4);
  z-index: 2;
  margin-top: 10px;
  right: 5px;
}
#deck2 {
  position: absolute;
  height: 250px;
  width: 240px;
  background-color: rgb(142, 146, 99);
  box-shadow: 0 4px 8px 0 rgba( 0,0,0,0.4);
  z-index: 1;
  margin-top: 5px;
  right: 0px;
}
#deck3 {
  position: absolute;
  height: 250px;
  width: 240px;
  background-color: rgb(142, 146, 99);
  box-shadow: 0 4px 8px 0 rgba( 0,0,0,0.4);

  z-index: 0;
  margin-top: 0px;
  right: -5px;
}
#start
{
  cursor: pointer;
  text-align: center;
  align-content: center;
  margin-top: 20px;
  color: rgb(73, 71, 71);
  content: hidden;
}

/* SHUFFLE ANIMATION */
.animateDeck0
{
  animation: shuffle0 3s infinite
}
.animateDeck1
{
  animation: shuffle1 2s infinite
}
.animateDeck2
{
  animation: shuffle2 1.5s infinite
}
@keyframes shuffle0 {
	0% {}
	30% {
    transform: translateY(150px) translateX(150px) rotate(50deg) rotateY(50deg);
    z-index: 0;
	}
	100% {
		rotate(0deg);
	}
}
@keyframes shuffle1 {
  0%{}
  30% {
    transform: translateY(-200px);
    z-index: 1;
  }
  100%{
    rotate(0deg);
  }
}
@keyframes shuffle2 {
	0% {}
	30% {
    transform: translateY(-150px) translateX(-150px) rotate(-50deg) rotateY(-50deg);
    z-index: 2;
	}
	100% {
		rotate(0deg);
	}
}

/* DRAW ANIMATION */
.animateCard0{
  animation: fancyDraw0 2s infinite
}
.animateCard1{
  animation: fancyDraw1 2s infinite
}
.animateCard2{
  animation: fancyDraw2 2s infinite
}
@keyframes fancyDraw0{
  0%   {}
  100% {transform: translateY(-290px) translateX(95px)}
}
@keyframes fancyDraw1{
  0%   {}
  100%  {transform: translateY(-290px) translateX(400px)}
}
@keyframes fancyDraw2{
  0%   {}
  100% {transform: translateY(-280px) translateX(700px)}
  
}