body { background-color: #206969; }

div {
  padding: 5px;
  font-size: 55px;
/*  font-family: 'Monoton', cursive;*/
  font-family: 'Spicy Rice', cursive;

  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 80px red,0 0 10px FireBrick,0 0 6px DarkRed;
  color: red;
}

form{
 text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; 
 font-size: 30px;
 margin: 0 auto;
 text-align: center;
}

fieldset{
  border-color: rgb(63, 30, 56);
}

button{
  padding: 10px 10px;
  text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; 
  display: flex;
  font-size: 20px;
  margin:auto;
  border-color: rgb(63, 30, 56);
}

input[type=text], select {
  width: 50%;
  font-size: 30px;
  font-style: bold;
  padding: 12px 20px;
  text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; 
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
@keyframes blink {
  0% {opacity: 1;}
  50% {opacity: 0;}
}

nav{
  text-shadow: 0 0 100px #ffffff,0 0 8px #008000,0 0 6px #0000ff; 
  font-size: 28px; 
  text-transform: uppercase;
  justify-content: space-around;
  display: flex;
}

h1 {
  margin: auto;
  border: 4px solid rgb(63, 30, 56);
  /*  border-top-left-radius: 50px;*/
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  width: 400px;    
}

#game_title {
  text-align: center;
  font-family: 'Spicy Rice', cursive;
  font-weight: 500;
  font-size: 64px;
  color: rgb(194, 204, 50);
}
/*
h1{
  text-shadow: 0 0 100px ghostwhite,0 0 40px FireBrick,0 0 8px DarkRed; 
  text-align: center;
  font-size: 59px;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
*/
div p { margin:0; }
#error:hover { text-shadow: 0 0 200px #ffffff,0 0 80px #008000,0 0 6px #0000ff; }
#code:hover { text-shadow: 0 0 100px red,0 0 30px FireBrick,0 0 8px DarkRed; }
#error {
  color: #fff;
  text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
}
#error span {
  animation: upper 11s linear infinite;
}
#code span:nth-of-type(2) {
  animation: lower 10s linear infinite;
}
#code span:nth-of-type(1) {
  text-shadow: none;
  opacity:1.5;
}
@keyframes upper {
  0%,19.999%,22%,62.999%,64%, 64.999%,70%,100% {
    opacity:.99; text-shadow: 0 0 80px #ffffff,0 0 30px #008000,0 0 6px #0000ff;
  }
  20%,21.999%,63%,63.999%,65%,69.999% {
    opacity:0.4; text-shadow: none; 
  }
}
@keyframes lower {
  0%,12%,18.999%,23%,31.999%,37%,44.999%,46%,49.999%,51%,58.999%,61%,68.999%,71%,85.999%,96%,100% {
    opacity:0.99; text-shadow: 0 0 80px red,0 0 30px FireBrick,0 0 6px DarkRed;
  }
  19%,22.99%,32%,36.999%,45%,45.999%,50%,50.99%,59%,60.999%,69%,70.999%,86%,95.999% { 
    opacity:0.4; text-shadow: none; 
  }
}
 