body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ebd5d3;
  }
  
  nav {
    overflow: hidden;
    background-color: rgb(240, 234, 234);
    font-weight: bold;
  }
  
  nav a {
    float: left;
    color: #c7af6c;
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
  }
  
  .nav_menu a.active {
    background-color: rgb(184, 167, 161);
    color: white;
  }