html {
  box-sizing: border-box;
}

header{
  text-shadow: 0 0 100px #ffffff,0 0 8px #008000,0 0 6px #0000ff; 
  font-size: 28px; 
  text-transform: uppercase;
  justify-content: space-around;
  display: flex;
  padding-top: 20px;
}
button{
  padding: 10px 10px;
    text-shadow: 0 0 100px #ffffff,0 0 8px #008000,0 0 6px #0000ff; 
    font-size: 28px; 
    text-transform: uppercase;
    justify-content: space-around;
    display: flex;
  
}

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #ebd5d3;
}

  nav {
    overflow: hidden;
    background-color: rgb(240, 234, 234);
    font-weight: bold;
  }
  
  nav a {
    float: left;
    color: #c7af6c;
    text-align: center;
    padding: 15px 20px;
    font-size: 18px;
  }
  
  .nav_menu a.active {
    background-color: rgb(184, 167, 161);
    color: white;
  }
  
  .column {
    float: center;
    width: 30%;
    margin-bottom: 26px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 3px 4px 8px 3px rgba(0, 0, 0, 5);
    padding: 0 15px;
    height: 50%;
  }
  
  .container {
    padding: 2 16px;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  
  h1 {
    margin: auto;
    border: 4px solid rgb(48, 24, 48);
    /*  border-top-left-radius: 50px;*/
    border-bottom-left-radius: 150px;
    border-bottom-right-radius: 150px;
    width: 400px;    
  }
  
  #game_title {
    text-align: center;
    font-family: 'Spicy Rice', cursive;
    font-weight: 500;
    font-size: 64px;
    color: rgb(44, 65, 53);
  }

  #play_game {
    text-align: center;
    margin-top: 200px;
  }

  #top_scores {

  }